body{
	font-family: 'Montserrat', sans-serif;;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
}

/*----Header----*/
.header{
	height: 100px;
	display: flex;
	background: url(../img/back.jpg);
	padding-left: 20px;
	padding-right: 20px;
}
.head-link{
	display: flex;
	justify-content: space-between;
	align-items:center;
	padding-top: 35px;
	font-family: 'Open Sans', sans-serif;
	font-size: 600;
}

.head-link a{
	color: #5DA2D8;
}

.head-btn-link{
	padding-top: 25px;
}

.head-btn{
	width: 150px;
	height: 45px;
	background-color: #2891E4;
	border-radius: 20px;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 600;
	border: none;
}

.head-link li{
	list-style-type: none;
}

/*----Content----*/
.slider-1{
	width: 100%;
	height: 670px;
	overflow: hidden;
	position: relative;
}

.slider-line-1{
	width: 400vw;
	height: 670px;
	display: flex;
	justify-content: flex-start;
}

.item-1{
	width: 100vw;
	height: 100%;
	font-family: sans-serif;
	font-size: 100px;
	color: #fff;
	background-size: cover;
	background-position: center;
}

.slider-1 .item-1:nth-child(1){
	background-image: url('../img/back-1.jpg');
}

.slider-1 .item-1:nth-child(2){
	background-image: url('../img/back-1.jpg');
}

.slider-1 .item-1:nth-child(3){
	background-image: url('../img/back-1.jpg');
}

.slider-1 .item-1:nth-child(4){
	background-image: url('../img/back-1.jpg');
}

.slider-nav-1{
	position: absolute;
	z-index: 999;
	width: 50px;
	display: flex;
	justify-content: space-between;
	bottom: 50px;
}

.slider-nav-1 input{
	display: none;
}

.slider-nav-1 label{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 1px solid #fff;
	cursor: pointer;
}

.slider-nav-1 input:checked + label{
	background-color: #fff;
}

/*----About us----*/

.about{
	background:url(../img/back.jpg) no-repeat center;
	background-size: cover;
	padding: 120px 0 120px;

}

.event-desc{
	font-family: Montserrat;
	font-size: 30px;
	font-weight: 600;
}

.event-text p{
	font-family: Open Sans ;
	font-size: 24px;
	font-weight: 300;
	line-height:35px;
	margin-top: 65px;
}

.event-text h2{
	font-size: 64px;
	font-family: Montserrat;
	font-weight: 700;
	margin-top:60px;
}

.eve{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin:30px;

}

.eve-2{
	padding-left: 17px;
	margin-top:10px;
	font-family: Montserrat;
	color: #fff;
	width: 300px;
}

.event{
	display: flex;
	justify-content: space-between;	
}

.event-blc{
	width: 67px;
	height: 67px;
	background:#B7D1E0;
	border: none;
	border-radius: 15px;
	text-align: center;
	padding-top: 18px;
	line-height: 15px;
	color: #fff;
	font-family: Montserrat;
}

.event-block{
	background:#5EA2D8;
	width:450px;
	height: auto;
	border-radius: 50px;
}

.eve-1{
	text-align: center;
	font-size: 18px;
	font-family: Montserrat;
	color: #fff;
	margin-top:20px;
}

.event-btn{
	background: #FF843F;
	border: none;
	color: #fff;
	font-family: Montserrat;
	font-size: 16px;
	font-weight: 500;
	border-radius: 20px;
	width: 210px;
	height: 41px;
}

.eve-btn{
	display: flex;
	justify-content: center;
	margin-bottom:20px;
}
/*-------Gallery------*/

.gallery{
	width: 100%;
	height: 690px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.slider-2{
	width: 790px;
	height: 420px;
	overflow: hidden;
	position: relative;
}

.slider-line-2{
	width: 3160px;
	height: 420px;
	display: flex;
	justify-content: flex-start;
}

.item-2{
	width: 790px;
	height: 100%;
	font-family: sans-serif;
	font-size: 100px;
	color: #fff;
	background-size: cover;
	background-position: center;
}

.slider-2 .item-2:nth-child(1){
	background-image: url('../img/back-1.jpg');
}

.slider-2 .item-2:nth-child(2){
	background-image: url('../img/back-1.jpg');
}

.slider-2 .item-2:nth-child(3){
	background-image: url('../img/back-1.jpg');
}

.slider-2 .item-2:nth-child(4){
	background-image: url('../img/back-1.jpg');
}

.slider-nav-2{
	z-index: 999;
	width: 50px;
	display: flex;
	justify-content: space-between;
	margin-top: 70px;

}

.slider-nav-2 input{
	display: none;
}

.slider-nav-2 label{
	width: 10px;
	height: 10px;
	border-radius: 50%;
	border: 1px solid #2891E4;
	cursor: pointer;
}

.slider-nav-2 input:checked + label{
	background-color: #2891E4;
}

/*-------Teachers------*/

.teachers {
	background: url(../img/back.jpg) no-repeat;
	color: #5DA2D8;
	background-size: cover;
	height: 600px;
}

.teachers h2 {
	color: #000;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 48px;
	padding: 40px 0 50px 0;
	text-align: center;
}

.teachers div.view-teach {
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
	margin-bottom: 60px;
}

.teachers div.teach {
	width: 250px;
	height: 320px;
	text-align: center;
}

.teachers div.teach div.tch {
	width: 160px;
	height: 160px;
	border-radius: 100px;
	margin: 0 auto;
}

.teachers div.teach p{
	color: #000;
	font-family: 'Open Sans', sans-serif;
	margin-top: 15px;
}

.teachers div.teach h3{
	color: #000;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 20px;
	margin-top: 10px;
	text-align: center;
}

.teachers div.teach div.one {
	background: url(../img/teach1.jpg);
}

.teachers div.teach div.two {
	background: url(../img/teach2.jpg);
}

.teachers div.teach div.three {
	background: url(../img/teach3.jpg);
}

.teachers div.teach div.four {
	background: url(../img/teach4.jpg);
}

/*-- Otzvy --*/
.gal-text{
	display: flex;
	justify-content:center;
	padding: 40px 0 40px;
}

.block{
	width: 130px;
	height: 130px;

}

.block-text{
	color: #fff;
	text-align: center;
	font-weight: 600;
	font-size: 24px;
	line-height:45px;
}

.block-text-1{
	color: #fff;
	text-align: center;
	font-family: Open Sans;
	font-size: 24px;
	line-height:45px;
	font-weight: 300;
}


/*-------Feedback------*/
.content-feedback{
	font-family:'Montserrat', sans-serif;
	font-weight: 600;
	padding-top: 100px;
	text-align: center;
}
.feedback{
	background:url(../img/back.jpg) no-repeat center;
	background-size: cover;
}	

/*----Footer----*/
.footer{
	background: url(../img/back.jpg);
	color: #5DA2D8;
	display: flex;
	justify-content: space-between;
}

.content-foo{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-name{
	font-family:'Montserrat', sans-serif;
	font-weight: 600;
	padding-top: 100px;
}

.foot-social{
	display: flex;
	justify-content: left;
	flex-flow: column wrap;
}

.foo p{
	font-family: ;
	margin-left: 20px;
	font-size: 18px;
}

.foo{
	display: flex;
}

.foot-img{
	width: 30px;
	height: 30px;
}

.foo-link{
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.foo-link li{
	list-style-type: none;
	margin: 50px;
}

.foo-link a{
		color: #5DA2D8;
}

.foo-input input{
	border-color: #5DA2D8;
	width: 200px;
	height: 70px;
	border-top: none;
	border-left: none;
	border-right: none;
	background: #DDDDDD;
	margin: 20px;
}

.foo-input-2 textarea{
	border-color: #5DA2D8;
	width: 440px;
	height: 70px;
	border-top: none;
	border-left: none;
	border-right: none;
	background: #DDDDDD;
	margin: 20px;
}

.foo-btn{
	width: 242.8px;
	height: 52px;
	background-color: #2891E4;
	border-radius: 20px;
	color: #fff;
	border:none;
}

.foo-btn-link{
	text-align: center;
}
/*----main_education----*/




/*----Content----*/
.edu{
	background:url(../img/back.jpg) no-repeat center;
	background-size: cover;
	padding: 120px 0 120px;

}

.edu-head{
	font-family: Montserrat;
	font-size: 30px;
	font-weight: 600;
}

.edu-text p{
	font-family: Open Sans ;
	font-size: 24px;
	font-weight: 300;
	line-height:35px;
	margin-top: 65px;
}

.edu-text h2{
	font-size: 64px;
	font-family: Montserrat;
	font-weight: 700;
	margin-top:60px;
}
.edu-text{
	display: flex;
	justify-content: space-between;
	flex-flow: column wrap;
}
