<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/bootstrap.css">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
		<script type="text/javascript" src="js/anime.min.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/jquery-3.4.1.min.js"></script>
		<title>ИТИАД</title>
	</head>
	<body>
		<!-- Header -->
		<div class="header">
			<img src="img/logo.svg" alt="">
			<div class="container">
				<ul class="head-link">
					<li>
						<a href="index.html">Главная</a>
					</li>
					<li>
						<a href="main_education.html">Основное образование</a>
					</li>
					<li>
						<a href="">Профессиональное развитие</a>
					</li>
					<li>
						<a href="">Наука</a>
					</li>
					<li>
						<a href="">Мероприятия</a>
					</li>
				</ul>
			</div>
			<div class="head-btn-link">
				<button class="head-btn">Связаться</button>
			</div>
		</div>
		<!-- Content  -->
		<div class="slider-1">
			<div class="slider-line-1">
				<div class="item-1"><div class="container">1</div></div>
				<div class="item-1"><div class="container">2</div></div>
				<div class="item-1"><div class="container">3</div></div>
			</div>
			<div class="container">
				<div class="slider-nav-1">
					<input type="radio" id="radio-1-1" name="slide-pick-1" checked="true" value="1" onchange="slide1()"><label for="radio-1-1"></label>
					<input type="radio" id="radio-1-2" name="slide-pick-1" value="2" onchange="slide1()"><label for="radio-1-2"></label>
					<input type="radio" id="radio-1-3" name="slide-pick-1" value="3" onchange="slide1()"><label for="radio-1-3"></label>
				</div>
			</div>
		</div>
	
		<!-- About -->
		<div class="about">
			<div class="container">
				<p class="event-desc">О нас</p>
				<div class="event">		
					<div class="event-text">
						<h2>ИТИАД</h2>
						<p>Институт является учебно-научным структурным подразделением Университета, осуществляющим образовательную, научно-исследовательскую, просветительскую, культурно-воспитательную и проектную деятельность в области информационных технологий и анализа данных.</p>
					</div>
					<div class="event-block ">
						<p class="eve-1">Ближайшие мероприятия</p>
						<div class="event-block">
							<div class="eve">
								<div class="event-blc"><span>29 <br> июня</span></div>
							<p class="eve-2">с 14:00 до 15:00<br>
							Выставка научных технологий</p>
							</div>
							<div class="eve">
								<div class="event-blc"><span>29 <br> июня</span></div>
							<p class="eve-2">с 14:00 до 15:00<br>
							Выставка научных технологий</p>
							</div>
							<div class="eve">
								<div class="event-blc"><span>29 <br> июня</span></div>
							<p class="eve-2">с 14:00 до 15:00<br>
							Выставка научных технологий</p>
							</div>
							<div class="eve-btn">
							<button class="event-btn">Посмотреть список</button>
						</div>
						</div>	
					</div>
				</div>
			</div>
		</div>
		<!-- Gallery -->
		<div class="gallery">
			<div class="slider-2">
				<div class="slider-line-2">
					<div class="item-2">1</div>
					<div class="item-2">2</div>
					<div class="item-2">3</div>
				</div>
			</div>
			<div class="slider-nav-2">
				<input type="radio" id="radio-2-1" name="slide-pick-2" checked="true" value="1" onchange="slide2()"><label for="radio-2-1"></label>
				<input type="radio" id="radio-2-2" name="slide-pick-2" value="2" onchange="slide2()"><label for="radio-2-2"></label>
				<input type="radio" id="radio-2-3" name="slide-pick-2" value="3" onchange="slide2()"><label for="radio-2-3"></label>
			</div>
		</div>
		
		<!-- Teachers -->
		<div class="teachers">
			<div class="container">
				<h2 class="our-teach">
				Наши преподаватели
				</h2>
				<div class="view-teach">
					<div class="teach">
						<div class="tch one"></div>
						<h3>Lorem ipsum dolor sit amet</h3>
						<p>Lorem ipsumsit amet
							Lorem ipsumsitее amet
							Lorem ipsumsit ametееее
						</p>
					</div>
					<div class="teach">
						<div class="tch two"></div>
						<h3>Lorem ipsum dolor sit amet</h3>
						<p>Lorem ipsumsit amet
							Lorem ipsumsitее amet
							Lorem ipsumsit ametееее
						</p>
					</div>
					<div class="teach">
						<div class="tch three"></div>
						<h3>Lorem ipsum dolor sit amet</h3>
						<p>Lorem ipsumsit amet
							Lorem ipsumsitее amet
							Lorem ipsumsit ametееее
						</p>
					</div>
					<div class="teach">
						<div class="tch four"></div>
						<h3>Lorem ipsum dolor sit amet</h3>
						<p>Lorem ipsumsit amet
							Lorem ipsumsitее amet
							Lorem ipsumsit ametееее
						</p>
					</div>
				</div>
			</div>
		</div>





		<!-- Gallary -->
	
		<!-- Feedback -->
		<!-- <div class="feedback">
			<div class="container">
				<h2 class="content-feedback">
				Отзывы наших студентов</h2>
				<div class="content">
			<div class="container">
				<div class="slider-nav">
					<div class="slider-pick slider-active" id="slide-1" onclick="gotoSlide1()"></div>
					<div class="slider-pick" id="slide-2" onclick="gotoSlide2()"></div>
					<div class="slider-pick" id="slide-3" onclick="gotoSlide3()"></div>
				</div>
			</div>
			<div class="slider">
				<div class="slide">
					<div class="container">
						<div class="block-otz">
							<div class="block"></div>
						<p class="block-text">Lorem ipsum dolor sit amet</p>
						<p class="block-text-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vestibulum, adipiscing interdum mattis enim tellus blandit ipsum amet. Eu, lectus arcu mattis amet enim. Eget tincidunt proin et gravida lorem. Eget euismod netus et, diam odio commodo.</p>
						</div>
					</div>
				</div>

				<div class="slide">
					<div class="container">
					
					</div>
				</div>

				<div class="slide">
					<div class="container">
					
					</div>
				</div>

				<div class="slide">
					<div class="container">
					
					</div>
				</div>
			</div>
		</div> -->
		<!-- Footer -->
		<div class="footer">
			<div class="container">
				<h1 class="footer-name">Cвязаться с нами</h1>
				<div class="content-foo">
					<div class="foot-social">
						<p>У вас остались вопросы? <br>Напишите нам - мы ответим в ближайшее время!</p>
						
						<div class="foo">
							<img class="foot-img" src="img/phone.svg" alt="">
							<p>+7 (111) 222-33-44</p>
						</div>
						<div class="foo">
							<img class="foot-img" src="img/mail.svg" alt="">
							<p>order@bu-one.ru</p>
						</div>
					</div>
					
					<div class="foo-form">
						<form action="">
							<div class="foo-input">
								<input type="text" placeholder="Введите ваше имя">
								<input type="tel" placeholder="Введите ваш телефон">
							</div>
							<div class="foo-input-2">
								<textarea  placeholder="Ваше сообщение"></textarea>
							</div>
						</form>
						<div class="foo-btn-link">
							<button class="foo-btn">Отправить</button>
						</div>
					</div>
				</div>
				<div class="foo-lы">
					<ul class="foo-link">
						<li>
							<a href="">Об институте</a>
						</li>
						<li>
							<a href="">Контакты</a>
						</li>
						<li>
							<a href="">Отзывы</a>
						</li>
						<li>
							<a href="">Галерея</a>
						</li>
						<li>
							<a href="">Подписка на рассылки </a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		
		
	</div>
	
</div>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>