<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/bootstrap.css">
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;600;700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet">
		<script type="text/javascript" src="js/anime.min.js"></script>
		<title>ИТИАД</title>
	</head>
	<body>
		<!-- Header -->
		<div class="header">
			<img src="img/logo.svg" alt="">
			<div class="container">
				<ul class="head-link">
					<li>
						<a href="index.html">Главная</a>
					</li>
					<li>
						<a href="main_education.html">Основное образование</a>
					</li>
					<li>
						<a href="">Профессиональное развитие</a>
					</li>
					<li>
						<a href="">Наука</a>
					</li>
					<li>
						<a href="">Мероприятия</a>
					</li>
				</ul>
			</div>
			<div class="head-btn-link">
				<button class="head-btn">Связаться</button>
			</div>
		</div>
		<!-- Content  -->
		<div class="edu">
			<div class="container">
				<p class="edu-head">Аспирантура</p>
				<div class="edu-1">
					<div class="edu-text">
						<h2>Обучение</h2>
						<div class="edu-cont">
						<img src="img/edu_logo_1.svg" alt=""></div>
						<p>Lorem ipsumsit amet
							Lorem ipsumsitее amet
							Lorem ipsumsit ametееееLorem ipsumsit amet
							Lorem ipsumsitее amet
							Lorem ipsumsit ametееееLorem ipsumsit amet
							Lorem ipsumsitее amet
							Lorem ipsumsit ametееееLorem ipsumsit amet
							Lorem ipsumsitее amet
							Lorem ipsumsit ametееееLorem ipsumsit amet
							Lorem ipsumsitее amet
							Lorem ipsumsit ametееееLorem ipsumsit amet
							Lorem ipsumsitее amet
						Lorem ipsumsit ametееее</p>
					</div>
				</div>
			</div>
		</div>
<!-- Footer -->
<div class="footer">
	<div class="container">
		<h1 class="footer-name">Cвязаться с нами</h1>
		<div class="content-foo">
			<div class="foot-social">
				<p>У вас остались вопросы? <br>Напишите нам - мы ответим в ближайшее время!</p>
				
				<div class="foo">
					<img class="foot-img" src="img/phone.svg" alt="">
					<p>+7 (111) 222-33-44</p>
				</div>
				<div class="foo">
					<img class="foot-img" src="img/mail.svg" alt="">
					<p>order@bu-one.ru</p>
				</div>
			</div>
			
			<div class="foo-form">
				<form action="">
					<div class="foo-input">
						<input type="text" placeholder="Введите ваше имя">
						<input type="tel" placeholder="Введите ваш телефон">
					</div>
					<div class="foo-input-2">
						<textarea  placeholder="Ваше сообщение"></textarea>
					</div>
				</form>
				<div class="foo-btn-link">
					<button class="foo-btn">Отправить</button>
				</div>
			</div>
		</div>
		<div class="foo-lы">
			<ul class="foo-link">
				<li>
					<a href="">Об институте</a>
				</li>
				<li>
					<a href="">Контакты</a>
				</li>
				<li>
					<a href="">Отзывы</a>
				</li>
				<li>
					<a href="">Галерея</a>
				</li>
				<li>
					<a href="">Подписка на рассылки </a>
				</li>
			</ul>
		</div>
	</div>
</div>


</div>

</div>
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>