<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>Django Forms</title>
</head>
<body>
<div class=container>
<div class="choose_emoji">
    <h2>Какие книги соответствуют вашему настроению?</h2>
    <div class=emojis>
        <div class=emojis__item>
        <a class=emoji_link href="/emoji_books?id=Смешные">
            <div class=emoji_img>😂</div> 
            <div class=emoji_text>Смешные</div>
        </a>
        </div>

        <div class=emojis__item>
            <a class=emoji_link href="/emoji_books?id=Романтичные">
                <div class=emoji_img>❤️</div>
                <div class=emoji_text>Романтичные</div> 
            </a>
            </div>

        <div class=emojis__item>
            <a class=emoji_link href="/emoji_books?id=Умные">
                <div class=emoji_img>🤯</div>
                <div class=emoji_text>Умные</div> 
            </a>
        </div>
        
        <div class=emojis__item>
            <a class=emoji_link href="/emoji_books?id=Жестокие">
                <div class=emoji_img>🔪</div>
                <div class=emoji_text>Жестокие</div> 
            </a>
        </div>

        
        <div class=emojis__item>
            <a class=emoji_link href="/emoji_books?id=Мистика">
                <div class=emoji_img>👻</div>
                <div class=emoji_text>Мистика</div> 
            </a>
        </div>

        
        <div class=emojis__item>
            <a class=emoji_link href="/emoji_books?id=Экшн">
                <div class=emoji_img>😎</div>
                <div class=emoji_text>Экшн</div> 
            </a>
        </div>

        
        <div class=emojis__item>
            <a class=emoji_link href="/emoji_books?id=Сексуальные">
                <div class=emoji_img>🔞</div>
                <div class=emoji_text>Сексуальные</div> 
            </a>
        </div>

        
        <div class=emojis__item>
            <a class=emoji_link href="/emoji_books?id=Вдохновение">
                <div class=emoji_img>🤔</div>
                <div class=emoji_text>Вдохновение</div> 
            </a>
        </div>

        <div class=emojis__item>
            <a class=emoji_link href="/emoji_books?id=Страшные">
                <div class=emoji_img>😱</div>
                <div class=emoji_text>Страшные</div> 
            </a>
        </div>

        <div class=emojis__item>
            <a class=emoji_link href="/emoji_books?id=Странные">
                <div class=emoji_img>😟</div>
                <div class=emoji_text>Странные</div> 
            </a>
        </div>

        <div class=emojis__item>
            <a class=emoji_link href="/emoji_books?id=Молодежные">
                <div class=emoji_img>🤪</div>
                <div class=emoji_text>Молодежные</div> 
            </a>
        </div>

        <div class=emojis__item>
            <a class=emoji_link href="/emoji_books?id=Трогательные">
                <div class=emoji_img>😥</div>
                <div class=emoji_text>Трогательные</div> 
            </a>
        </div>

        <div class=emojis__item>
            <a class=emoji_link href="/emoji_books?id=Научные">
                <div class=emoji_img>🤖</div>
                <div class=emoji_text>Научные</div> 
            </a>
        </div>

        <div class=emojis__item>
            <a class=emoji_link href="/emoji_books?id=Волнующие">
                <div class=emoji_img>😰</div>
                <div class=emoji_text>Волнующие</div> 
            </a>
        </div>

        <div class=emojis__item>
            <a class=emoji_link href="/emoji_books?id=Добрые">
                <div class=emoji_img>😊</div>
                <div class=emoji_text>Добрые</div> 
            </a>
        </div>

        <div class=emojis__item>
            <a class=emoji_link href="/emoji_books?id=Грустные">
                <div class=emoji_img>😔</div>
                <div class=emoji_text>Грустные</div> 
            </a>
        </div>


    </div>
</div>
</div>
</body>
</html>