<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="CSS/style.css">
		<title>Ало</title>
	</head>
    

    🎂
<!-- main -->
<div class="teachers">
    <div class="container">
        <h1 class="our-teach">
        Главная
        </h1>
        <h2>Не знаете, что почитать?</h2>
        <div class="view-teach">
            <div class="teach">
                <div class="tch one"></div>
                <a class=teach_link href="">
                    <img class=teach_img src="images/main_block/class 1.png" alt="">
                <p>Подборка книг по вашему настроению</p>
            </a>
            </div>
            <div class="teach">
                <div class="tch two"></div>
                <a class=teach_link href="">
                    <img class=teach_img src="images/main_block/book 1.png" alt="">
                <p>Подборка книг по ключевым словам</p>
            </a>
            </div>
        </div>
    </div>
</div>


</body>
</html>